* {
    box-sizing: border-box;
    /* background-color:  #01204E; */
}

html {
    font-size: 14px;
    height: 100;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial Narrow Bold', sans-serif;
    line-height: 0vmax;
    color: black;


}

 



header {
    background-color: #26355D;
    /* color: #6F4E37; */
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-right: 1rem;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url("https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover; 
    height: 100vh;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0cqmin; 

}

.hero h1 {
    font-size: 4rem;
    margin-bottom: calc();
    color: black;
    /* background-color:; */
}
.hero about us {
    background-color: blue;

}

svg{
    height: 20px;
    width: 22px;
}
.btn{ 

}
    


.flex{
   font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 1000;
    letter-spacing: .0142857143em;
    line-height: 1.25rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    max-height: 100rem;
    overflow: hidden;
    text-overflow: ellipsis; 
    background-image:url("https://images.pexels.com/photos/298821/pexels-photo-298821.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 50vh;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0cqmin; 
    color: #fff;

}
